<header class="header">
  <div class="header__logo">
    <h1 class="header__title">Be<span class="header__title--span">Eco</span></h1>
  </div>
  <nav class="nav">
    <a href="/" class="nav__item <%= path === '/' ? 'nav__item--active' : ''%>">Lista</a>
    <a href="/admin/add-trash" class="nav__item <%= path === '/add-trash' ? 'nav__item--active' : ''%>">Dodaj odpad</a>
  </nav>
</header>